{% extends "layouts/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="container-fluid p-4">
    <div class="row g-4 mb-4">
        <div class="col-lg-4 col-xl-5">
             {% include "index/_calendar.html" %}
        </div>

        <div class="col-lg-4 col-xl-4">
            {% include "index/_player_card.html" %}
        </div>

        <div class="col-lg-4 col-xl-3">
            {% include "index/_stats_radar.html" %}
        </div>
    </div>

    <div class="row g-4 mb-4">
        <div class="col-12">
            {% include "index/_habit_tracker.html" %}
        </div>
    </div>

    <div class="row g-4">
        <div class="col-lg-6">
            {% include "index/_sleep_rhythm.html" %}
        </div>

        <div class="col-lg-6">
            {% include "index/_daily_discipline.html" %}
        </div>
    </div>
</div>

{% block extra_js %}
    <script src="{% static 'js/stats.js' %}"></script>

<script>
    window.apexPageData = {
        habitTitlesData: {{ habit_titles_data|safe }},
        csrfToken: '{{ csrf_token }}',
        statLabels: {{ stat_labels|safe }},
        statValues: {{ stat_values|safe }},
        monthDays: {{ month_days|safe }},
        sleepData: {{ sleep_data|safe }},
        habitCountsData: {{ habit_counts_data|safe }},
        totalActiveHabits: {{ total_active_habits|default:5 }}
    };
</script>

<script src="{% static 'js/index.js' %}"></script>
{% endblock extra_js %}

{% endblock content %}
