services:
  backend:
    build:
      context: .
      dockerfile: dockerfiles/Django/Dockerfile
    container_name: django_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
    env_file:
      - .env.prod
    depends_on:
      db:
        condition: service_healthy
        restart: true

  db:
    image: postgres:17
    container_name: postgres_db
    env_file:
      - .env.prod
    volumes:
      - postgres_db:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      start_period: 30s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6380:6379"

volumes:
  postgres_db:
