{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/gate.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    
    {% include 'daily/includes/gate_header.html' %}

    <div class="row">
        <div class="col-lg-8">
            {% include 'daily/includes/gate_form_main.html' %}
        </div>

        <div class="col-md-4">
            {% include 'daily/includes/gate_routines.html' %}
        </div>
    </div>
</div>

<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script src="{% static 'js/gate.js' %}"></script>
{% endblock %}
